div#navi 
	{
	position: absolute;
	top: 8em;
	left: 0;
	width: 10em;
	/*font-size: 90%;*/	
	}


div#navi ul 
	{
	list-style: none;
	width: 10em;
	}

div#navi li
	{
	background: white;
	margin-left: -1em;
	padding: .3em .3em .3em .5em;
	border: 1px solid black;
	}

div#navi li a 
	{
	border: 1px solid white;
	color: black;
	text-align: center;
	text-decoration: none;
	top: 1.25em;
	border-color: white
	}
div#navi a:hover, div#vnavi a:active, div#vnavi a:focus	{
	color: white;
	background: black;
	}